Repository MarkoMajamaki/Microservice-Architecture-Demo: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/app/deploy_pipeline.yml, pipelines/app/test_pipeline.yml, pipelines/infra/apply_pipeline.yml, pipelines/infra/validate_pipeline.yml

pipelines/app/deploy_pipeline.yml:
  stages:
  - stage: Test
    jobs:
    - template: ../templates/test.yml
  - stage: Build
    jobs:
    - template: ../templates/build.yml
    - task: PublishBuildArtifacts@1
      displayName: Save yml manifests for deployment
      inputs:
        PathtoPublish: $(Build.SourcesDirectory)/kubernetes
  ...

pipelines/app/test_pipeline.yml:
  stages:
  - stage: Test
    jobs:
    - template: ../templates/test_server.yml

pipelines/infra/apply_pipeline.yml:
  stages:
  - stage: Validate
    jobs:
    - template: stages/infra_validate.yml
      parameters:
        env: $(env)
  - stage: Plan
    jobs:
    - template: stages/infra_plan.yml
      parameters:
        env: $(env)
  - stage: Apply
    jobs:
    - template: stages/infra_apply.yml
      parameters:
        env: $(env)

pipelines/infra/validate_pipeline.yml:
  stages:
  - stage: Validate
    jobs:
    - template: stages/infra_validate.yml
      parameters:
        env: $(env)

Continue app service deployment
  .gitignore
  deploy/azure/add_akv_secrets.sh
  deploy/azure/destroy.sh
  infra/enviroments/beta/main.tf
  infra/enviroments/beta/terraform.tfvars
  infra/enviroments/beta/variables.tf
  infra/enviroments/prod/main.tf
  infra/enviroments/prod/terraform.tfvars
  infra/modules/appservice/appservice.tf
  infra/modules/appservice/variables.tf
  notes.txt
Due: pipelines/app/deploy_pipeline.yml, pipelines/infra/apply_pipeline.yml, pipelines/infra/validate_pipeline.yml

Continue UI implementation
  notes.txt
  src/app/frontend/lib/core/app.dart
  src/app/frontend/lib/core/configure_nonweb.dart
  src/app/frontend/lib/core/configure_web.dart
  src/app/frontend/lib/core/getit.dart
  src/app/frontend/lib/main.dart
  src/app/frontend/lib/module.dart
  src/app/frontend/lib/views/home/home_view.dart
  src/app/frontend/pubspec.lock
  src/app/frontend/pubspec.yaml
  src/shared/frontend/lib/core/api.dart
  src/shared/frontend/lib/responsive/device_screen_type.dart
  src/shared/frontend/lib/responsive/orientation_layout.dart
  src/shared/frontend/lib/responsive/responsive_builder.dart
  src/shared/frontend/lib/responsive/screen_type_layout.dart
  src/shared/frontend/lib/responsive/sizing_information.dart
  src/shared/frontend/lib/services/tab_navigation_service.dart
Due: pipelines/app/deploy_pipeline.yml, pipelines/app/test_pipeline.yml

Continue deployments
  deploy/azure-aci/README.md
  deploy/azure-aci/deploy_az.sh
  deploy/azure-aci/docker-compose.beta.yml
  deploy/azure-aci/docker-compose.prod.yml
  deploy/azure-aks/README.md
  deploy/azure-aks/add_akv_secrets.sh
  deploy/azure-aks/create_akv_csi_driver.sh
  deploy/azure-appservice/README.md
  deploy/azure-appservice/docker-compose.beta.yml
  deploy/azure-appservice/docker-compose.prod.yml
  deploy/azure/README.md
  deploy/azure/deploy.sh
  deploy/azure/destroy.sh
  deploy/docker-compose/README.md
  deploy/docker-compose/deploy.sh
  deploy/docker-compose/destroy.sh
  deploy/docker-compose/docker-compose.yml
  deploy/kind/README.md
  deploy/kind/destroy.sh
  kubernetes/base/envoy.yml
  kubernetes/base/frontend.yml
  kubernetes/base/gateway.yml
  kubernetes/base/ingress-tls-secret.yml
  kubernetes/base/ingress.yml
  kubernetes/base/kustomization.yml
  kubernetes/base/order-api.yml
  kubernetes/base/rabbitmq.yml
  kubernetes/base/secretproviderclass.yml
  kubernetes/enviroments/dev/identity-api-secrets-patch.json
  kubernetes/enviroments/dev/jwt-secrets.yml
  kubernetes/enviroments/dev/kustomization.yml
  kubernetes/enviroments/dev/order-api-secrets-patch.json
  kubernetes/enviroments/prod/kustomization.yml
  scripts/deploy_to_aci.sh
  src/app/frontend/Dockerfile
  src/app/frontend/pubspec.lock
  src/app/frontend/pubspec.yaml
  src/gateway/Dockerfile
  src/gateway/envoy.yml
  tmp.txt
Due: pipelines/app/deploy_pipeline.yml, pipelines/app/test_pipeline.yml

Continue ACI deployment
  README.md
  deploy/.env/identity-api.env
  deploy/.env/jwt.env
  deploy/.env/order-api.env
  deploy/.env/rabbitmq.env
  deploy/azure-aci/README.md
  deploy/azure-aci/deploy_az.sh
  deploy/azure-aci/docker-compose.beta.yml
  deploy/azure-aci/docker-compose.prod.yml
  deploy/azure-appservice/docker-compose.beta.yml
  deploy/azure-appservice/docker-compose.prod.yml
  deploy/docker-compose/docker-compose.yml
  infra/enviroments/beta/main.tf
  infra/modules/aci/aci.tf
  infra/modules/aci/variables.tf
  src/gateway/Dockerfile
Due: pipelines/app/deploy_pipeline.yml, pipelines/app/test_pipeline.yml, pipelines/infra/apply_pipeline.yml, pipelines/infra/validate_pipeline.yml

Continue ACI deployment
  deploy/azure-aci/README.md
  deploy/azure-aci/docker-compose.beta.yml
  deploy/azure-aci/docker-compose.prod.yml
  deploy/azure-aks/README.md
  deploy/azure-appservice/README.md
  deploy/docker-compose/docker-compose.yml
  infra/modules/aci/aci.tf
  src/gateway/envoy.yml
Due: pipelines/app/deploy_pipeline.yml, pipelines/app/test_pipeline.yml, pipelines/infra/apply_pipeline.yml, pipelines/infra/validate_pipeline.yml

Continue lots of things
  deploy/azure-appservice/docker-compose.beta.yml
  notes.txt
  src/app/frontend/Dockerfile
  src/app/frontend/lib/common/configure_nonweb.dart
  src/app/frontend/lib/common/configure_web.dart
  src/app/frontend/lib/common/getit.dart
  src/app/frontend/lib/common/shell.dart
  src/app/frontend/lib/main.dart
  src/app/frontend/lib/module.dart
  src/app/frontend/lib/views/home/home_view.dart
  src/app/frontend/pubspec.lock
  src/app/frontend/pubspec.yaml
  src/modules/catalog/frontend/lib/common/getit.dart
  src/modules/catalog/frontend/lib/module.dart
  src/modules/catalog/frontend/lib/viewmodels/catalog_viewmodel.dart
  src/modules/catalog/frontend/lib/viewmodels/product_viewmodel.dart
  src/modules/catalog/frontend/lib/views/catalog_view.dart
  src/modules/catalog/frontend/lib/views/product_view.dart
  src/modules/catalog/frontend/pubspec.yaml
  src/modules/identity/frontend/lib/common/api.dart
  src/modules/identity/frontend/lib/common/getit.dart
  src/modules/identity/frontend/lib/module.dart
  src/modules/identity/frontend/lib/services/email_login_service.dart
  src/modules/identity/frontend/lib/services/facebook_login_service.dart
  src/modules/identity/frontend/lib/services/google_login_service.dart
  src/modules/identity/frontend/lib/viewmodels/login_viewmodel.dart
  src/modules/identity/frontend/lib/views/login_view.dart
  src/shared/frontend/lib/common/api.dart
  src/shared/frontend/lib/common/constants.dart
  src/shared/frontend/lib/common/dialog_provider.dart
  src/shared/frontend/lib/common/localization.dart
  src/shared/frontend/lib/common/theme.dart
  src/shared/frontend/lib/responsive/orientation_layout.dart
  src/shared/frontend/lib/widgets/base_model_widget.dart
  src/shared/frontend/lib/widgets/change_notifier_widget.dart
  src/shared/frontend/pubspec.yaml
Due: pipelines/app/deploy_pipeline.yml, pipelines/app/test_pipeline.yml

Add MVVM base classes
  .vscode/launch.json
  .vscode/settings.json
  src/app/frontend/lib/common/shell.dart
  src/app/frontend/pubspec.lock
  src/modules/catalog/frontend/lib/common/getit.dart
  src/modules/catalog/frontend/lib/viewmodels/catalog_viewmodel.dart
  src/modules/catalog/frontend/lib/viewmodels/product_viewmodel.dart
  src/modules/catalog/frontend/lib/views/catalog_view.dart
  src/modules/catalog/frontend/lib/views/product_view.dart
  src/modules/identity/frontend/lib/module.dart
  src/shared/frontend/lib/mvvm/view_base.dart
  src/shared/frontend/lib/mvvm/view_model_base.dart
  src/shared/frontend/lib/widgets/base_model_widget.dart
  src/shared/frontend/lib/widgets/change_notifier_widget.dart
Due: pipelines/app/deploy_pipeline.yml, pipelines/app/test_pipeline.yml

Add readme files
  README.md
  src/modules/basket/README.md
  src/modules/catalog/README.md
  src/modules/identity/README.md
  src/modules/inventory/README.md
  src/modules/order/README.md
Due: pipelines/app/deploy_pipeline.yml, pipelines/app/test_pipeline.yml

Continue deployment
  deploy/.env/basket-api.env
  deploy/.env/catalog-api.env
  deploy/.env/inventory-api.env
  deploy/docker-compose/docker-compose.yml
  kubernetes/base/basket-api.yml
  kubernetes/base/catalog-api.yml
  kubernetes/base/inventory-api.yml
  kubernetes/base/kustomization.yml
  pipelines/app/deploy_pipeline.yml
  pipelines/templates/build.yml
  scripts/populate_databases.sh
  scripts/run_migrations.sh
  src/gateway/envoy.yml
Due: pipelines/app/deploy_pipeline.yml, pipelines/app/test_pipeline.yml

Continue implementation
  .vscode/tasks.json
  deploy/docker-compose/docker-compose.yml
  notes.txt
  src/modules/basket/backend/Basket.Api/Controllers/BasketController.cs
  src/modules/basket/backend/Basket.Api/Properties/launchSettings.json
  src/modules/catalog/backend/Catalog.Api/Catalog.Api.csproj
  src/modules/catalog/backend/Catalog.Api/Controllers/CatalogController.cs
  src/modules/catalog/backend/Catalog.Api/Controllers/SearchController.cs
  src/modules/catalog/backend/Catalog.Api/Program.cs
  src/modules/catalog/backend/Catalog.Api/Properties/launchSettings.json
  src/modules/catalog/backend/Catalog.Api/Startup.cs
  src/modules/catalog/backend/Catalog.Application/Catalog.Application.csproj
  src/modules/catalog/backend/Catalog.Application/IntegrationEvent/Events/ProductCreatedIntegrationEvent.cs
  src/modules/catalog/backend/Catalog.Application/IntegrationEvent/Handlers/ProductCreatedIntegrationEvent.cs
  src/modules/catalog/backend/Catalog.Application/Startup.cs
  src/modules/catalog/backend/Catalog.Infrastructure/Startup.cs
  src/modules/catalog/frontend/lib/viewmodels/catalog_viewmodel.dart
  src/modules/catalog/frontend/lib/viewmodels/product_viewmodel.dart
  src/modules/identity/backend/Identity.Api/Properties/launchSettings.json
  src/modules/identity/backend/Tests/Identity.IntegrationTest/LoginController_Tests.cs
  src/modules/identity/backend/Tests/Identity.IntegrationTest/RegisterController_Tests.cs
  src/modules/inventory/backend/Inventory.Api/Controllers/InventoryController.cs
  src/modules/inventory/backend/Inventory.Api/Controllers/ProductController.cs
  src/modules/inventory/backend/Inventory.Api/Properties/launchSettings.json
  src/modules/inventory/backend/Inventory.Application/Commands/CreateProduct/CreateProductCommandHandler.cs
  src/modules/inventory/backend/Inventory.Application/IntegrationEvents/Events/ProductCreatedIntegrationEvent.cs
  src/modules/inventory/backend/Inventory.Application/Inventory.Application.csproj
  src/modules/inventory/backend/Inventory.Application/Startup.cs
  src/modules/order/backend/Order.Api/Controllers/OrderController.cs
  src/modules/order/backend/Order.Api/Properties/launchSettings.json
  src/modules/order/backend/Order.Application/DomainEvents/CreateCustomerEventHander.cs
  src/modules/order/backend/Order.Application/DomainEvents/Events/OrderCreatedEvent.cs
  src/modules/order/backend/Order.Domain/Events/OrderCreatedEvent.cs
Due: pipelines/app/deploy_pipeline.yml, pipelines/app/test_pipeline.yml

Add integration event and changed CQRS style in a few commands
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  deploy/.env/inventory-api.env
  pipelines/templates/build.yml
  scripts/populate_databases.sh
  scripts/run_migrations.sh
  src/modules/basket/backend/Basket.Api/Controllers/BasketController.cs
  src/modules/basket/backend/Basket.Api/Startup.cs
  src/modules/basket/backend/Basket.Application/Basket.Application.csproj
  src/modules/basket/backend/Basket.Application/Commands/AddItemToBasket.cs
  src/modules/basket/backend/Basket.Application/Commands/AddItemToBasketCommand/AddItemToBasketCommand.cs
  src/modules/basket/backend/Basket.Application/Commands/AddItemToBasketCommand/AddItemToBasketCommandHandler.cs
  src/modules/basket/backend/Basket.Application/Commands/AddItemToBasketCommand/AddItemToBasketCommandResponse.cs
  src/modules/basket/backend/Basket.Application/IntegrationEventHandlers/ProductUpdatedIntegrationEvent.cs
  src/modules/basket/backend/Basket.Application/Startup.cs
  src/modules/basket/backend/Basket.Domain/Entities/BasketItem.cs
  src/modules/basket/backend/Basket.Infrastructure/Basket.Infrastructure.csproj
  src/modules/basket/backend/Basket.Infrastructure/Startup.cs
  src/modules/catalog/README.md
  src/modules/catalog/backend/Catalog.Api/Controllers/ProductController.cs
  src/modules/catalog/backend/Catalog.Api/Dto/ProductUpdateDto.cs
  src/modules/catalog/backend/Catalog.Api/Startup.cs
  src/modules/catalog/backend/Catalog.Application/Catalog.Application.csproj
  src/modules/catalog/backend/Catalog.Application/Commands/UpdateProduct.cs
  src/modules/catalog/backend/Catalog.Application/Commands/UpdateProduct/UpdateProductCommand.cs
  src/modules/catalog/backend/Catalog.Application/Commands/UpdateProduct/UpdateProductCommandHandler.cs
  src/modules/catalog/backend/Catalog.Application/Commands/UpdateProduct/UpdateProductResponse.cs
  src/modules/catalog/backend/Catalog.Application/IntegrationEvent/Events/ProductUpdatedIntegrationEvent.cs
  src/modules/catalog/backend/Catalog.Application/Startup.cs
  src/modules/catalog/backend/Catalog.Domain/Events/ProductCreatedEvent.cs
  src/modules/catalog/backend/Catalog.Domain/Events/ProductDeletedEvent.cs
  src/modules/catalog/backend/Catalog.Domain/Events/ProductUpdatedEvent.cs
  src/modules/catalog/backend/Catalog.Infrastructure/Startup.cs
  src/modules/order/backend/Order.Application/Startup.cs
  src/modules/order/backend/Order.Infrastructure/Startup.cs
  src/shared/backend/Shared.Application/IntegrationEvents/ProductUpdatedIntegrationEvent.cs
  src/shared/backend/Shared.Application/Settings/RabbitMQSettings.cs
Due: pipelines/app/deploy_pipeline.yml, pipelines/app/test_pipeline.yml

Continue order service implementation
  src/modules/basket/backend/Basket.Application/IntegrationEvents/ProductUpdatedIntegrationEvent.cs
  src/modules/basket/backend/Basket.Application/Startup.cs
  src/modules/order/backend/Order.Api/Controllers/OrderController.cs
  src/modules/order/backend/Order.Api/Order.Api.csproj
  src/modules/order/backend/Order.Api/Startup.cs
  src/modules/order/backend/Order.Application/Commands/CreateOrder.cs
  src/modules/order/backend/Order.Application/Commands/CreateOrder/CreateOrderCommand.cs
  src/modules/order/backend/Order.Application/Commands/CreateOrder/CreateOrderCommandHandler.cs
  src/modules/order/backend/Order.Application/Commands/CreateOrder/CreateOrderResponse.cs
  src/modules/order/backend/Order.Application/IntegrationEvents/UserDeletedIntegrationEventHandler.cs
  src/modules/order/backend/Order.Application/Order.Application.csproj
  src/modules/order/backend/Order.Application/Queries/GetAllOrders.cs
  src/modules/order/backend/Order.Application/Queries/GetAllOrders/GetAllOrdersQuery.cs
  src/modules/order/backend/Order.Application/Queries/GetAllOrders/GetAllOrdersQueryHandler.cs
  src/modules/order/backend/Order.Application/Queries/GetAllOrders/GetAllOrdersResponse.cs
  src/modules/order/backend/Order.Application/Queries/GetOrderById.cs
  src/modules/order/backend/Order.Application/Queries/GetOrderById/GetOrderByIdQuery.cs
  src/modules/order/backend/Order.Application/Queries/GetOrderById/GetOrderByIdQueryHandler.cs
  src/modules/order/backend/Order.Application/Queries/GetOrderById/GetOrderByIdResponse.cs
  src/modules/order/backend/Order.Application/Startup.cs
  src/modules/order/backend/Tests/Order.IntegrationTest/OrderController_Tests.cs
  src/shared/backend/Shared.Application/IntegrationEvents/UserDeletedIntegrationEvent.cs
Due: pipelines/app/deploy_pipeline.yml, pipelines/app/test_pipeline.yml

Remove notes file
  notes.txt
Due: pipelines/app/deploy_pipeline.yml

Fix readme
  README.md
Due: none

Add AutoMapper
  .gitignore
  src/modules/order/backend/Order.Api/Contracts/Requests/CreateOrderRequest.cs
  src/modules/order/backend/Order.Api/Contracts/Responses/CreateOrderResponse.cs
  src/modules/order/backend/Order.Api/Contracts/Responses/GetOrderResponse.cs
  src/modules/order/backend/Order.Api/Controllers/OrderController.cs
  src/modules/order/backend/Order.Api/Mapping/DomainToResponseProfile.cs
  src/modules/order/backend/Order.Api/Mapping/RequestToDomainProfile.cs
  src/modules/order/backend/Order.Api/Order.Api.csproj
  src/modules/order/backend/Order.Api/Startup.cs
  src/modules/order/backend/Order.Application/Commands/CreateOrder.cs
  src/modules/order/backend/Order.Application/Order.Application.csproj
  src/modules/order/backend/Order.Application/PipelineBehaviors/LoggingBehavior.cs
  src/modules/order/backend/Order.Application/PipelineBehaviors/ValidationBehavior.cs
  src/modules/order/backend/Order.Application/Queries/GetAllOrders.cs
  src/modules/order/backend/Order.Application/Startup.cs
  src/modules/order/backend/Order.Domain/Entities/Order/Order.cs
  src/modules/order/backend/Order.Domain/Entities/Order/OrderItem.cs
  src/modules/order/backend/Tests/Order.UnitTest/Automapper_Tests.cs
  src/modules/order/backend/Tests/Order.UnitTest/Order.UnitTest.csproj
  src/shared/backend/Shared.Api/Controllers/BaseController.cs
  src/shared/backend/Shared.Api/Exception/ExceptionMiddleware.cs
  src/shared/backend/Shared.Api/Shared.Api.csproj
  src/shared/backend/Shared.Domain/DomainException.cs
Due: pipelines/app/deploy_pipeline.yml, pipelines/app/test_pipeline.yml

Small fixes
  README.md
  deploy/docker-compose/docker-compose.yml
  kubernetes/base/catalog-api.yml
  kubernetes/base/gateway.yml
  kubernetes/base/identity-api.yml
  kubernetes/base/mongo.yml
  kubernetes/base/order-api.yml
  kubernetes/base/sqlserver.yml
  kubernetes/environments/beta/akv-identity-api-patch.json
  kubernetes/environments/beta/akv-order-api-patch.json
  kubernetes/environments/beta/kustomization.yml
  kubernetes/environments/dev/identity-api-secrets-patch.json
  kubernetes/environments/dev/identity-api-secrets.yml
  kubernetes/environments/dev/jwt-secrets.yml
  kubernetes/environments/dev/kustomization.yml
  kubernetes/environments/dev/order-api-secrets-patch.json
  kubernetes/environments/dev/order-api-secrets.yml
  kubernetes/environments/dev/rabbitmq-secrets.yml
  kubernetes/environments/prod/akv-identity-api-patch.json
  kubernetes/environments/prod/akv-order-api-patch.json
  kubernetes/environments/prod/kustomization.yml
  pipelines/templates/build.yml
  pipelines/templates/deploy.yml
  pipelines/templates/test_server.yml
  src/modules/order/backend/Order.Application/Commands/CreateOrder.cs
  src/modules/order/backend/Order.Application/Mapping/MappingProfile.cs
Due: pipelines/app/deploy_pipeline.yml, pipelines/app/test_pipeline.yml

Small fixes to frontend
  README.md
  src/app/frontend/ios/Flutter/Debug.xcconfig
  src/app/frontend/ios/Flutter/Release.xcconfig
  src/app/frontend/ios/Podfile
  src/app/frontend/lib/main.dart
  src/app/frontend/macos/Flutter/Flutter-Debug.xcconfig
  src/app/frontend/macos/Flutter/Flutter-Release.xcconfig
  src/app/frontend/macos/Podfile
  src/app/frontend/pubspec.lock
  src/app/frontend/pubspec.yaml
  src/modules/basket/frontend/lib/frontend.dart
  src/modules/basket/frontend/lib/views/basket_view.dart
  src/modules/basket/frontend/test/frontend_test.dart
  src/modules/catalog/frontend/lib/views/catalog_view.dart
  src/modules/identity/frontend/lib/module.dart
Due: pipelines/app/deploy_pipeline.yml, pipelines/app/test_pipeline.yml

Started implementing create order saga
  src/modules/catalog/backend/Catalog.Api/Controllers/CatalogController.cs
  src/modules/catalog/backend/Catalog.Api/Controllers/InventoryController.cs
  src/modules/catalog/backend/Catalog.Api/Controllers/ProductController.cs
  src/modules/order/backend/Order.Application/Sagas/CreateOrderSaga.cs
  src/modules/order/backend/Order.Application/Startup.cs
Due: pipelines/app/deploy_pipeline.yml, pipelines/app/test_pipeline.yml

Continue client implementation
  src/app/frontend/lib/main.dart
  src/modules/identity/frontend/lib/common/api.dart
  src/modules/identity/frontend/lib/common/getit.dart
  src/modules/identity/frontend/lib/module.dart
  src/modules/identity/frontend/lib/services/email_login_service.dart
  src/modules/identity/frontend/lib/services/facebook_login_service.dart
  src/modules/identity/frontend/lib/services/google_login_service.dart
  src/modules/identity/frontend/lib/viewmodels/login_viewmodel.dart
  src/modules/identity/frontend/lib/views/login_view.dart
Due: pipelines/app/deploy_pipeline.yml, pipelines/app/test_pipeline.yml

Add architecture image
  doc/architecture.drawio
Due: pipelines/app/deploy_pipeline.yml

Add architecture image and fix readme
  README.md
  doc/architecture.drawio
  doc/architecture.png
Due: pipelines/app/deploy_pipeline.yml

Path conditions:
  pipelines/app/deploy_pipeline.yml: any file but: infra, README.md, .gitignore, .vscode
  pipelines/app/test_pipeline.yml: any of: src, but not: infra, README.md, .gitignore, .vscode
  pipelines/infra/apply_pipeline.yml: any of: infra
  pipelines/infra/validate_pipeline.yml: any of: infra
